doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body


  block nav
    nav
      a(href="/") Index
      a(href="create") Create Post
      a(href="delete") Delete Post

  block content
